.signup-form {
  width: 400px;
  background-color: #1a1a1a;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #bebebe;
}

.signup-form .input-group {
  position: relative;
  width: 80%;
  margin-bottom: 25px;
}

.signup-form .input-group input {
  width: 90%;
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid #8a8a8a;
  outline: none;
  background: transparent;
  color: #bebebe;
  margin-left: 10px;
  font-size: medium;
}

.signup-form .input-group label {
  font-size: smaller;
  position: absolute;
  bottom: 15px;
  left: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #999;
}

.signup-form .input-group input:focus ~ label,
.signup-form .input-group input:not(:placeholder-shown) ~ label {
  transform: translateY(-20px);
  font-size: 12px;
}

.signup-form .radio-group {
  margin-bottom: 30px;
  display: flex;
  margin-right: 13px;
  color: #8a8a8a;
}

.signup-form .radio-group label {
  display: flex;
  align-items: center;
  font-size: smaller;
}

.signup-form .radio-group input {
  margin-right: 5px;
}

.signup-form .signup-button {
  color: #bebebe;
  width: 70%;
}

.signup-form .signup-link {
  text-align: center;
  margin-block: 10px;
  color: #999;
  font-size: smaller;
}

.signup-form .signup-link span {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.signup-form .input-group .forgot-password {
  position: absolute;
  right: 20px;
  top: 40px;
  font-size: small;
  color: #007bff;
}

.signup-form .input-group .show-password {
  color: #bebebe;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: medium;
  cursor: pointer;
}

.social-signup {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.social-signup button {
  padding: 10px 15px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.social-signup .google-signup {
  background-color: rgb(216, 40, 40);
  color: whitesmoke;
  border: none;
}

.social-signup .facebook-signup {
  background-color: rgb(38, 38, 213);
  color: whitesmoke;
  border: none;
}

.social-signup button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.signup-form .input-group .error {
  position: absolute;
  right: 3%;
  bottom: 90%;
  font-size: small;
  color: var(--color-warning);
}

@media (min-width: 300px) and (max-width: 500px) {
  .signup-form {
    width: 300px;
    padding: 5px;
    padding-top: 10px;
  }

  .signup-form .input-group input:focus ~ label,
  .signup-form .input-group input:not(:placeholder-shown) ~ label {
    transform: translateY(-10px);
    font-size: 12px;
  }
}
