.changePassword {
  background-color: var(--color-tertiary);
  padding: 40px 20px;
  border-radius: 10px;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
}

.changePassword .input-group {
  display: flex;
  flex-direction: column;
  margin-block: 0.5rem;
  width: 90%;
}

.changePassword .input-group label {
  font-size: small;
  margin-bottom: 5px;
  color: var(--color-text-secondary);
}

.changePassword .input-group input[type="password"] {
  padding: 10px;
  border: none;
  background-color: var(--color-bg-gray);
  color: var(--color-text-primary);
}

.changePassword .error {
  padding: 10px;
  background-color: rgba(186, 38, 38, 0.334);
  width: 80%;
  margin-block: 10px;
  border-radius: 10px;
  border: 2px solid var(--color-error);
  font-size: smaller;
}

.changePassword button {
  width: 80%;
  margin-top: 1rem;
}

@media (min-width: 300px) and (max-width: 500px) {
  .changePassword {
    width: 20rem;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .changePassword {
    width: 30rem;
  }
}
