.editProject {
    position: relative;
    display: flex;
    flex-direction: column;    
    background-color: var(--color-tertiary);  
    border-radius: 5px;
    width: 19rem;
    z-index: 1;
    padding: 2%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5), 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.editProject .input-group {
    width: 100%;
    margin-bottom: 5%;
    color: var(--color-text-primary);
}

.editProject .input-group input, textarea {
    width: 90%;  
    padding: 3% 5%;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
    margin-top: 1%;
    border-radius: 3px;
}

.editProject label{
    font-size: small;
}

.editProject .theme-options {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editProject .theme-option {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: large;
}



@media (min-width: 300px) and (max-width: 500px) {
    .editProject {
        width: 15.5rem;
    }
}