.reset-password-form {
    width: 30rem;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text-primary);
    background-color: var(--color-tertiary);
}

.reset-password-form div {
    margin-block: 10px;
}

.reset-password-form .input-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 75%;
}

.reset-password-form .input-item input[type='password'] {
    padding: 10px;
    background-color: var(--color-bg-gray);
    border-radius: 5px;
    border: none;
    margin-top: 5px; 
    width: 95%;
    color: var(--color-text-primary);
    font-size: medium;
}

.reset-password-form .submit-button {
    width: 75%;
    margin-bottom: 3rem;
}

.reset-password-form .submit-button button {
    width: 100%;
}

.reset-password-form .error {
    color: var(--color-warning);
}


@media (min-width: 300px) and (max-width: 500px) {
    .reset-password-form {
        width: 25rem;
    }
}